{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="info-block -{{category}}">{{message}}</div>
            {% if category == "success-eta" %}
                <h2>Отримати інформацію про зниження ціни на електронну пошту.</h2>
                <form action="/low_price_eta" method="POST" enctype="multipart/form-data">
                    <input type="email" name="email" required="required"
                           placeholder="Електронна пошта" class="text-field">
                    <input type="number" name="timeout" required="required"
                           placeholder="Скільки хвилин перевіряти (від 5 до 20)"
                           min="5" max="20" class="text-field">
                    <input type="number" name="rebate" required="required"
                           placeholder="Мінімальне зниження ціни (від 5 грн)"
                           class="text-field" min="5">
                    <button type="submit" class="submit-eta">Почати перевіряти</button>
                </form>
            {% endif %}
        {% endfor %}
    {% endwith %}
    <form action="/price_eta" method="POST" enctype="multipart/form-data">
        <input type="text" name="city" placeholder="Місто (за замовчуванням - Львів)"
               class="text-field">
        <input type="text" name="from" required="required" placeholder="Звідки"
               class="text-field">
        <input type="text" name="to" required="required" placeholder="Куди"
               class="text-field">
        <button type="submit" class="submit-eta">Дізнатись ціну</button>
    </form>
{% endblock %}
