{% extends "layout.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="info-block -{{category}}">{{message}}</div>
        {% endfor %}
    {% endwith %}
    <form action="/price_eta" method="POST" enctype="multipart/form-data">
        <input type="text" name="city" placeholder="Місто (за замовчуванням - Львів)"
               class="text-field">
        <input type="text" name="from" required="required" placeholder="Звідки"
               class="text-field">
        <input type="text" name="to" required="required" placeholder="Куди"
               class="text-field">
        <button type="submit" class="submit-eta">Дізнатись ціну</button>
    </form>
{% endblock %}
