{% extends "layout.html" %}
{% block content %}
    {% if args.error %}
        <div class="info-block -error">{{args.error}}</div>
    {% endif %}
    {% if args.eta_text and not args.error%}
        <div class="info-block -eta-text">{{args.eta_text}}</div>
    {% endif %}
    <form action="/price_eta" method="POST" enctype="multipart/form-data">
        <input type="text" name="city" placeholder="Місто (за замовчуванням - Львів)"
               class="text-field">
        <input type="text" name="from" required="required" placeholder="Звідки"
               class="text-field">
        <input type="text" name="to" required="required" placeholder="Куди"
               class="text-field">
        <button type="submit" class="submit-eta">Дізнатись ціну</button>
    </form>
{% endblock %}
